.search .emojicitytemp .date .weekday .dailytemp .moreinfo {
    display: inline;
    text-align: center;
    margin: 30px auto;
  }
  
  h3 {
    text-align: center;
    display: inline;
  }
  
  #weekday li {
    display: inline;
  }
  
  .moreinfo {
    margin: 0 auto;
    display: block;
    border: black;
    color: rgb(23, 23, 212);
    background: rgb(250, 247, 247);
  }
  